@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic);
/* line 3, /home/home/dev/djmuzach/views/sass/home.sass */
body {
  background-color: black;
}

/* line 6, /home/home/dev/djmuzach/views/sass/home.sass */
a.last-night {
  font-size: 2em;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 10;
  top: -74px;
}
/* line 16, /home/home/dev/djmuzach/views/sass/home.sass */
a.last-night:hover {
  transform: scale(1.5) rotate(4deg);
  transition-duration: 0.5s;
  color: red;
}

/* line 21, /home/home/dev/djmuzach/views/sass/home.sass */
a.bookings {
  font-size: 2em;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 10;
  top: -14px;
}
/* line 31, /home/home/dev/djmuzach/views/sass/home.sass */
a.bookings:hover {
  transform: scale(1.5) rotate(-4deg);
  transition-duration: 0.5s;
  color: red;
}

/* line 36, /home/home/dev/djmuzach/views/sass/home.sass */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  font-family: "Rambla", sans-serif;
}

/* line 42, /home/home/dev/djmuzach/views/sass/home.sass */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 48, /home/home/dev/djmuzach/views/sass/home.sass */
h1 {
  font-size: 4em;
  color: white;
  font-weight: 700;
  font-style: italic;
  position: relative;
  z-index: 4;
  margin-bottom: 20px;
}
/* line 56, /home/home/dev/djmuzach/views/sass/home.sass */
h1:hover {
  transform: scale(1.25) rotate(4deg);
  transition-duration: 0.5s;
  color: red;
}

/* line 61, /home/home/dev/djmuzach/views/sass/home.sass */
.outer-iframe {
  position: relative;
}
/* line 64, /home/home/dev/djmuzach/views/sass/home.sass */
.outer-iframe .blocker {
  width: 110%;
  height: 100px;
  background-color: black;
  position: absolute;
  top: -100px;
  z-index: 3;
}
/* line 73, /home/home/dev/djmuzach/views/sass/home.sass */
.outer-iframe iframe {
  width: 100%;
  height: 260px;
  border: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  top: -100px;
}

/* line 82, /home/home/dev/djmuzach/views/sass/home.sass */
p {
  color: white;
  margin: 20px 0;
}
/* line 85, /home/home/dev/djmuzach/views/sass/home.sass */
p a {
  text-decoration: line-through;
  color: red;
}

@media all and (max-width: 640px) {
  /* line 90, /home/home/dev/djmuzach/views/sass/home.sass */
  .outer-iframe {
    display: none;
  }

  /* line 92, /home/home/dev/djmuzach/views/sass/home.sass */
  a.last-night {
    top: 86px;
  }
}
