<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://slipmat.io/staticmedia/sass/css/main.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="http://slipmat.io/staticmedia/img/playlistreader-favicon.ico">

  
  <link rel="stylesheet" href="http://slipmat.io/staticmedia/css/jquery/smoothness/jquery-ui-1.8.13.css" type="text/css" media="all" />    
  <link rel="stylesheet" href="http://slipmat.io/staticmedia/bootstrap/css/bootstrap.css" type="text/css" media="all" />    
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport">
<style type="text/css" media="screen">
h3 a.active {
    color: #f7f7f7;
}    
</style>

  <title>DJ MuZach Set - Earth Angel Hour</title>
</head>
<body>
  
  
<div class="container">
<h1>DJ MuZach Set - Earth Angel Hour</span></h1>
<a href="/">djmuzach.com</a>
<br>
<br>
Hope you all had a great time! Interested in booking me? <a href="mailto:zachfeldman@gmail.com?subject=Booking%20DJ%20MuZach">Email me at zachfeldman@gmail.com</a>.
<br><br>
Tracks played from Spotify can be clicked to play in Spotify!
<br><br>
<h2>More Music</h2>
<a href="http://mixlr.com/djmuzach/showreel/djmuzach-on-mixlr/">Mixlr</a>
<br>
<a href="https://www.mixcloud.com/djmuzach/">MixCloud</a>
<br>
    
        <div class="firstrow wide">
            
        <h3 class="clear">Tracklist</h3>
        
        <div id="tracktable">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="odd">1</td>        
                    <td class="odd artistfield">Justin Timberlake, JAY Z</td>
                    <td class='odd namefield'><a href='spotify:track:6dEnpbXyamib2EJnRhTt0G'>Suit & Tie featuring JAY Z</a></td>
                </tr>

                <tr>
                    <td class="odd">2</td>        
                    <td class="odd artistfield">Chromeo, RAC</td>
                    <td class='odd namefield'><a href='spotify:track:69cLgguKrjkSUCNWrsOssz'>Bonafied Lovin (RAC Mix)</a></td>
                </tr>

                <tr>
                    <td class="odd">3</td>        
                    <td class="odd artistfield">Mark Ronson, Bruno Mars</td>
                    <td class='odd namefield'><a href='spotify:track:32OlwWuMpZ6b0aN2RZOeMS'>Uptown Funk</a></td>
                </tr>

                <tr>
                    <td class="odd">4</td>        
                    <td class="odd artistfield">Michael Jackson</td>
                    <td class='odd namefield'><a href='spotify:track:5lA3pwMkBdd24StM90QrNR'>P.Y.T. (Pretty Young Thing)</a></td>
                </tr>

                <tr>
                    <td class="odd">5</td>        
                    <td class="odd artistfield">Justin Timberlake, JAY Z</td>
                    <td class='odd namefield'><a href='spotify:track:6dEnpbXyamib2EJnRhTt0G'>Suit & Tie featuring JAY Z</a></td>
                </tr>

                <tr>
                    <td class="odd">6</td>        
                    <td class="odd artistfield">Chromeo, RAC</td>
                    <td class='odd namefield'><a href='spotify:track:69cLgguKrjkSUCNWrsOssz'>Bonafied Lovin (RAC Mix)</a></td>
                </tr>

                <tr>
                    <td class="odd">7</td>        
                    <td class="odd artistfield">Michael Jackson</td>
                    <td class='odd namefield'><a href='spotify:track:5lA3pwMkBdd24StM90QrNR'>P.Y.T. (Pretty Young Thing)</a></td>
                </tr>

                <tr>
                    <td class="odd">8</td>        
                    <td class="odd artistfield">Missy Elliott</td>
                    <td class='odd namefield'>lose control</td>
                </tr>

                <tr>
                    <td class="odd">9</td>        
                    <td class="odd artistfield">Junior Senior vs. Modjo vs. Diana Ross</td>
                    <td class='odd namefield'>I Will Move Your Feet [Loo & Placido]</td>
                </tr>

                <tr>
                    <td class="odd">10</td>        
                    <td class="odd artistfield">Super Mash Bros.</td>
                    <td class='odd namefield'>I Fucking Bleed Purple And Gold</td>
                </tr>

                <tr>
                    <td class="odd">11</td>        
                    <td class="odd artistfield">Rihanna</td>
                    <td class='odd namefield'>Please Don't Stop the Music</td>
                </tr>

                <tr>
                    <td class="odd">12</td>        
                    <td class="odd artistfield">Yolanda Be Cool vs.Dcup</td>
                    <td class='odd namefield'>We No Speak Americano</td>
                </tr>

                <tr>
                    <td class="odd">13</td>        
                    <td class="odd artistfield">Passion Pit</td>
                    <td class='odd namefield'>The Reeling (Calvin Harris Remix)</td>
                </tr>

                <tr>
                    <td class="odd">14</td>        
                    <td class="odd artistfield">Jack Ü, Skrillex, Diplo, Kiesza</td>
                    <td class='odd namefield'><a href='spotify:track:6XptOuDraarGwkisvMpZj5'>Take Ü There (feat. Kiesza)</a></td>
                </tr>

                <tr>
                    <td class="odd">15</td>        
                    <td class="odd artistfield">The Cataracs, Waka Flocka Flame, Kaskade</td>
                    <td class='odd namefield'><a href='spotify:track:0TDD00m2Mypa10QOBbb34h'>All You</a></td>
                </tr>

                <tr>
                    <td class="odd">16</td>        
                    <td class="odd artistfield">Icona Pop, Charli XCX</td>
                    <td class='odd namefield'><a href='spotify:track:6Ou08NE0N5z8eRL1siDtAK'>I Love It</a></td>
                </tr>

                <tr>
                    <td class="odd">17</td>        
                    <td class="odd artistfield">Lady Gaga</td>
                    <td class='odd namefield'><a href='spotify:track:1MV8RFTgUlAan2b6yYdv7U'>Bad Romance</a></td>
                </tr>

                <tr>
                    <td class="odd">18</td>        
                    <td class="odd artistfield">R. Kelly</td>
                    <td class='odd namefield'><a href='spotify:track:2OeSwSbwlmn9u8SsutfxPO'>Bump n' Grind</a></td>
                </tr>

                <tr>
                    <td class="odd">19</td>        
                    <td class="odd artistfield">Daft Punk, Pharrell Williams, Nile Rodgers</td>
                    <td class='odd namefield'><a href='spotify:track:69kOkLUCkxIZYexIgSG8rq'>Get Lucky</a></td>
                </tr>

                <tr>
                    <td class="odd">20</td>        
                    <td class="odd artistfield">Katy Perry</td>
                    <td class='odd namefield'>Teenage Dream</td>
                </tr>

                <tr>
                    <td class="odd">21</td>        
                    <td class="odd artistfield">Dotcom</td>
                    <td class='odd namefield'>Levels of Sexyness (From 1 to Fatman Scoop)</td>
                </tr>

                <tr>
                    <td class="odd">22</td>        
                    <td class="odd artistfield">Vengaboys</td>
                    <td class='odd namefield'>Boom, Boom, Boom, Boom!!</td>
                </tr>

                <tr>
                    <td class="odd">23</td>        
                    <td class="odd artistfield">DJ Skeet Skeet</td>
                    <td class='odd namefield'>Jackson 5 - Want You Back (DJ Skeet Skeet Edit)</td>
                </tr>
            </table>           
        </div>
        
        

    

</div>

       
    
  


<script src="/staticmedia/js/jquery/jquery-1.6.1.js" type="text/javascript"></script>
<script src="/staticmedia/js/jquery/jquery-ui-1.8.13.js" type="text/javascript"></script>
<script type="text/javascript" src="/staticmedia/js/zero/ZeroClipboard.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    var clip = new ZeroClipboard( $('#copybutton'), {
        moviePath: "/staticmedia/js/zero/ZeroClipboard.swf"
    });

    clip.on( 'complete', function ( client, args ) {
        $('#copynotify').show({complete: callback});
    } );

    function callback() {
        setTimeout(function() {
            $("#copynotify").hide("blind");
        }, 2000 );
    };
    
    $("#email_link").click(function() {
        $("#email_form").toggle("blind");
    });
    
    
    $("#id_playlist_date").datepicker({ 
        defaultDate: +7,
        dateFormat: "yy-mm-dd" 
    });
    
    $("#a_txt").click(function(){
        txt = $("#playlist_txt_format").html();
        $("#playlisthtml").html(txt);
        $(this).removeClass("inactive");
        $(this).addClass("active");

        $("#a_html").removeClass("active");
        $("#a_html").addClass("inactive");
    })

    $("#a_html").click(function(){
        html = $("#playlist_html_format").html();
        $("#playlisthtml").html(html);
        $(this).removeClass("inactive");
        $(this).addClass("active");

        $("#a_txt").removeClass("active");
        $("#a_txt").addClass("inactive");
    })

});
</script>    


        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41815464-4', 'auto');
          ga('send', 'pageview');

        </script>
    </div>
    <br><br>
        <a href="/" style="display:block; text-align: center">DJ MuZach Home</a>
        <br>
        
</body>
</html>