%br 

%img{src: "logo.png", width: "100%"}

%h1
  "ALL THE BEATS
  %br
  FIT TO PLAY"




<iframe width="100%" height="100" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=df423bbd-59d3-4c6e-bed1-39d7700bc3d6&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjmuzach%2Fhigh-energy-mix%2F&amp;hide_cover=1&amp;replace=0" frameborder="0" style="position: relative; z-index: 2"></iframe>

%a.bookings{href: "mailto:zachfeldman@gmail.com?subject=DJ%20MuZach%20Me%20Captain"}
  \- BOOKINGS - 

.outer-iframe
  .blocker
  %iframe{src: "http://mixlr.com/djmuzach/showreel/djmuzach-on-mixlr#broadcast_show", scrolling: "no"}


%a.last-night{href: "/last-night"}
  \- LAST NIGHT - 


<iframe width="100%" height="100" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=032bfac0-41b1-4162-806b-d519adc5d427&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjmuzach%2Fhave-a-glass-of-whisky%2F&amp;hide_cover=1&amp;light=1&amp;replace=0" frameborder="0" style="position: relative; top: -60px;"></iframe>

%p
  An
  %a{href: "https://twitter.com/zachfeldman"} @zachfeldman
  project