!!!
%html
  %head
    %title
    %link{href: "/home.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/jquery.min.js"}
    %script{src: "/main.js"}
    %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"}
  %body
    .wrapper
      =yield